{% extends 'base.html.twig' %}

{% block title %}Subreddit View of r/{{ subreddit_name }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.1.1/motion-ui.min.css" />
    <link rel="stylesheet" href="{{ asset('build/main.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js"></script>
    <script>$(document).foundation();</script>
    <script src="{{ asset('build/mainjs.js') }}"></script>
    <script src="{{ asset('js/pagination.js') }}"></script>
    <script src="{{ asset('js/search.js') }}"></script>
{% endblock %}

{% block body %}
    {% include 'stubs/navigation.html.twig' %}
    <div id="thread">
    {% for post in post_array %}
        <ul class="thread accordion{% if loop.index > 5 %}{{ " hidden_post" }}{% endif %}" data-accordion data-allow-all-closed="true">
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title"><span class="stat post_score">{{ post.score }}</span> points<div class="post_title"><b>{{ post.title }}</b></div></a>
                <div class="accordion-content" data-tab-content>
                    {{ post.date_created | date }} by {{ post.author }}
                </div>
            </li>
        </ul>
    {% endfor %}
    </div>

    <nav aria-label="Pagination">
        <ul id="page_pagination" class="pagination text-center">
            <li class="pagination-previous" id="pagination_previous"><a href="#" class="disabled" aria-label="Previous page">Previous</a></li>
            <li class="current"><span class="show-for-sr">You're on page</span> <span id="current_page_number">1</span></li>
            <li class="pagination-next" id="pagination_next"><a href="#" aria-label="Next page">Next</a></li>
        </ul>
    </nav>
{% endblock %}

